.history/
.vscode/
.DS_Store
*.gz
*.tar
*.zip
*.csv

.venv/
__pycache__/
**/*-ubyte
**/outputs/**/*.pth
**/outputs/**/*.model
**/outputs/**/*.onnx
**/outputs/**/*.bin
**/outputs/**/model*.json
