[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
diffusers = {extras = ["torch"], version = "*"}
transformers = "*"
accelerate = "*"
tensorboard = "*"
ftfy = "*"
gradio = "*"
ipywidgets = ">=7,<8"
bitsandbytes = "*"
safetensors = "*"
omegaconf = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
