[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
pandas = "*"
japanize-matplotlib = "*"
torch = {file = "https://download.pytorch.org/whl/cpu/torch-1.10.2%2Bcpu-cp39-cp39-win_amd64.whl"}
polars = "*"
investpy = "*"
pyti = "*"
ta = "*"

[dev-packages]

[requires]
python_version = "3.9"
